<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ --> <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Pompiere" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">

<!-- Custom style things -->
<link rel="alternate stylesheet" type="text/css" media="screen" title="pinksnow" href="/assets/css/themes/pinksnow.css" />
<link rel="alternate stylesheet" type="text/css" media="screen" title="pinkmint" href="/assets/css/themes/pinkmint.css" />

<script src="/assets/js/styleswitch.js" type="text/javascript">

/***********************************************
* Style Sheet Switcher v1.1- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* Please keep this notice intact
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>
<!-- end custom head snippets -->
