<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ --> <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Pompiere" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
<!-- end custom head snippets -->
