---
layout: default
---
<script>
  function showRight(param_div_id) {
    $('#inner-pageRight div').hide();
    $('#inner-pageRight #' + param_div_id).show();
    $("#tabsRight div").removeClass("activeTab");
    $("#tabsRight div").addClass("idleTab");
    $("#tabsRight #" + param_div_id).removeClass("idleTab");
    $("#tabsRight #" + param_div_id).addClass("activeTab");
    console.log("#tabsRight #" + param_div_id);
  }
  function showLeft(param_div_id){
    $('#inner-pageLeft div').hide();
    $('#inner-pageLeft #' + param_div_id).show();
    $("#tabsLeft div").removeClass("activeTab");
    $("#tabsLeft div").addClass("idleTab");
    $("#tabsLeft #" + param_div_id).removeClass("idleTab");
    $("#tabsLeft #" + param_div_id).addClass("activeTab");
    console.log("#tabsLeft #" + param_div_id);
  }
  function showAllLeft(){
    $('#inner-pageLeft div').show();
    $("#tabsLeft div").removeClass("activeTab");
    $("#tabsLeft div").addClass("idleTab");
    $("#tabsLeft #all").removeClass("idleTab");
    $("#tabsLeft #all").addClass("activeTab");
  }
  function showAllRight(){
    $('#inner-pageRight div').show();
    $("#tabsRight div").removeClass("activeTab");
    $("#tabsRight div").addClass("idleTab");
    $("#tabsRight #all").removeClass("idleTab");
    $("#tabsRight #all").addClass("activeTab");
  }
</script>

<article class="calculus">
<div id="bookWrapper">
{{ content }}
</div>
</article>

<div id="hidden">
    {{ content }}
</div>
