---
layout: custom
---

<div id="tabsRight" class="SideTabs">
  <div id="all" class="tab activeTab" onclick="showAllRight()">
    FullPage
  </div>
  <div id="overview" class="tab" onclick="showRight('overview')">
    1
  </div>
  <div id="background" class="tab" onclick="showRight('background')">
    2
  </div>
  <div id="interpretation" class="tab" onclick="showRight('interpretation')">
    3
  </div>
  <div id="explaination" class="tab" onclick="showRight('explaination')">
    4
  </div>
  <div id="proof" class="tab" onclick="showRight('proof')">
    5
  </div>
  <div id="related" class="tab" onclick="showRight('related')">
    related
  </div>
</div>

<div id="page" class="page1">
  <div id="inner-pageRight" class="inner-page">
      {{ content }}
  </div>
</div>
<div id="page" class="page2">
  <div id="inner-pageLeft" class="inner-page">
      {{ content }}
  </div>
</div>

<div id="tabsLeft" class="SideTabs">
  <div id="all" class="tab activeTab" onclick="showAllLeft()">
    FullPage
  </div>
  <div id="theorem" class="tab" onclick="showLeft('theorem')">
   1
  </div>
  <div id="concepts" class="tab" onclick="showLeft('concepts')">
   2
  </div>
  <div id="hypothesis" class="tab" onclick="showLeft('hypothesis')">
    3
  </div>
  <div id="results" class="tab" onclick="showLeft('results')">
    4
  </div>
  <div id="proof" class="tab" onclick="showLeft('proof')">
    5
  </div>
  <div id="related" class="tab" onclick="showLeft('related')">
    related
  </div>
  <div id="proof2" class="tab" onclick="showLeft('proof2')">
    6
  </div>
  <div id="related" class="tab" onclick="showLeft('related')">
    related
  </div>
</div>
