---
layout: custom
---
<div id="tabsRight" class="SideTabs">
  <div id="all" class="tab activeTab" onclick="showAllRight()">
    FullPage
  </div>
  <div id="theorem" class="tab" onclick="showRight('theorem')">
    result
  </div>
  <div id="concepts" class="tab" onclick="showRight('concepts')">
    concepts
  </div>
  <div id="hypothesis" class="tab" onclick="showRight('hypothesis')">
    hypothesis
  </div>
  <div id="results" class="tab" onclick="showRight('results')">
    implications
  </div>
  <div id="proof" class="tab" onclick="showRight('proof')">
    proof
  </div>
  <div id="related" class="tab" onclick="showRight('related')">
    related
  </div>
</div>


<div id="page" class="page1">
  <div id="inner-pageRight" class="inner-page">
      {{ content }}
  </div>
</div>
  <div id="page" class="page2">
  <div id="inner-pageLeft" class="inner-page">
      {{ content }}
  </div>
</div>


<div id="tabsLeft" class="SideTabs">
  <div id="all" class="tab activeTab" onclick="showAllLeft()">
    FullPage
  </div>
  <div id="theorem" class="tab" onclick="showLeft('theorem')">
    result
  </div>
  <div id="concepts" class="tab" onclick="showLeft('concepts')">
    concepts
  </div>
  <div id="hypothesis" class="tab" onclick="showLeft('hypothesis')">
    hypothesis
  </div>
  <div id="results" class="tab" onclick="showLeft('results')">
    implications
  </div>
  <div id="proof" class="tab" onclick="showLeft('proof')">
    proof
  </div>
  <div id="related" class="tab" onclick="showLeft('related')">
    related
  </div>
</div>
