#bookWrapper{
  background-color:aqua;
  width:86vw;
  margin-right:4vw;
  height:94vh;
  margin-top:3vh;
  margin-bottom:3vh;
  float:right;
  color:#BEDB7A;
  box-shadow: 5px 10px 10px #5F4E51;
}

#page{
  width:35vw;
  position:relative;
  background-color:#EBEBE7;
  margin-right:0px;
  float:right;
  padding:25px;
  height:100%;
  padding:5px;
  overflow:hidden;
  color:#5F4E51
}

#page h2{
  color:#82A655;
  margin-top:10px;
}

.inner-page{
  border-width: 3px;
  border-color: #5F4E51;
  border-style:solid;
  padding:25px;
  height:100%;
  overflow-y:auto;
}

.SideTabs{
  margin-right:0px;
  float:right;
  height:100%;
  overflow:hidden;
  width:8vw;
  height:100%;
  background-color:#BAA8A4;
  display:block;
  position:relative;
}

#hidden{
  display:none;
}

.activeTab{
  background-color:#EBEBE7;
  color:#82A655;
}

.idleTab{
  background-color:#BAA8A4;
  color:#BEDB7A;
}

.tab{
  width:100%;
  padding:20px;
  height:80px;
  border-bottom-color: #BEDB7A;
  border-bottom-style:solid;
  border-bottom-width: thin;
}
